<!-- TOOLBAR -->
<app-toolbar
  #toolbar
  [areAllPlayersFilled]="areAllPlayersFilled"
  [editModeON]="editModeON"
  [videoUploaded]="videoUploaded"
  (taggingButtonClicked)="taggingButtonClicked($event)"
  (onVideoUpload)="onVideoUpload($event)"
  (switchSideButtonClicked)="onSwitchSide()"
></app-toolbar>

<!-- PARENT CONTAINER -->
<div class="parent-container">
  <!-- RESIZABLE CONTAINER -->
  <div class="resizable-div">
    <!-- LOCAL VIDEO UPLOAD -->
    <video
      #localVideoPlayer
      *ngIf="localUpload && format === 'video' && url"
      class="video-player"
      [src]="url"
      height="auto"
      controls
    ></video>

    <!-- YOUTUBE VIDEO UPLOAD -->
    <iframe
      #youtubeVideoPlayer
      *ngIf="youtubeUpload"
      class="video-player"
      [src]="url | safe"
      height="100%"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <!-- PITCH and SUBTAGS CONTAINER -->
  <div class="fill-div">
    <!-- PITCH -->
    <div
      #pitchContainer
      class="pitch-class"
      [style.transform]="switchSide ? 'rotate(180deg)' : ''"
      (mousedown)="handleMapMouseDown($event)"
      (mouseup)="handleMapMouseUp($event)"
    >
      <!-- PLAYERS -->
      <ng-container *ngIf="showPlayers">
        <div
          *ngFor="let player of allPlayers; let i = index"
          [id]="player.id"
          [class]="player.class"
          (click)="handlePlayerClick(player)"
          [ngClass]="{
            player: true,
            'div-disabled': !editModeON
          }"
          [style.transform]="switchSide ? 'rotate(180deg)' : ''"
          data-bs-toggle="tooltip"
          [title]="player.jersey + ' ' + player.name"
        >
          <span class="player-details"
            >{{ player.jersey }} {{ player.name }}</span
          >
        </div>
      </ng-container>
    </div>

    <!-- SUBTAGS -->
    <div class="subtags-div pt-1">
      <div class="subtags-grid">
        <div
          *ngFor="let subtag of allSubTags"
          [ngClass]="{
            disableSubtags: subtag.disabled,
            subtagSelected: subtag.clicked
          }"
          (click)="handleSubtagClick(subtag)"
        >
          {{ subtag.name }}
        </div>
      </div>
    </div>

    <!-- GOAL SKELETON -->
    <div class="goal-div pt-1">
      <div class="goal-grid">
        <div
          *ngFor="let area of allGoalAreas"
          (click)="handleGoalArea(area)"
          [ngClass]="{
            disableGoalAreas: area.disabled,
            goalAreaSelected: area.clicked
          }"
        >
          {{ area.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <app-events></app-events>
</div>
