/* PARENT */
.parent-container {
  display: flex;
  flex-direction: row;
  height: auto;
}

/* RESIZABLE DIV */
.resizable-div {
  resize: both;
  overflow: auto;
  width: 45rem;
  height: 25rem;
  border: 1px solid #000;
}

/* NON-RESIZABLE DIV */
.fill-div {
  flex: 1;
  background-color: lightgray;
  overflow: auto;
  max-height: 25rem;
  border: 1px solid green;
}

/* PITCH */
.pitch-class {
  background-image: url(../../../src/assets/pitch.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 64.3%;
  position: relative;
  border: 1px solid red;
}

/* Switch orientation */
/* .switch-side {
    transform: rotate(180deg);
  } */

/* PLAYERS */
.player {
  position: absolute;
  width: 15%; /* Use a percentage of the pitch width */
  height: 10%; /* Use a percentage of the pitch height */
  background-color: rgb(171, 247, 95); /* You can style the players as needed */
  font-weight: bold;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player:hover {
  background-color: rgb(166, 255, 227);
}

.p1 {
  top: 45%;
  left: 2%;
}
.p2 {
  top: 15%;
  left: 25%;
}
.p3 {
  top: 35%;
  left: 25%;
}
.p4 {
  top: 55%;
  left: 25%;
}
.p5 {
  top: 75%;
  left: 25%;
}
.p6 {
  top: 25%;
  left: 50%;
}
.p7 {
  top: 45%;
  left: 50%;
}
.p8 {
  top: 65%;
  left: 50%;
}
.p9 {
  top: 25%;
  left: 75%;
}
.p10 {
  top: 45%;
  left: 75%;
}
.p11 {
  top: 65%;
  left: 75%;
}

/* SUBTAGS */
.subtags-div {
  width: 100%;
  height: auto;
}

.subtags-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1px;
}

.subtags-grid div {
  background-color: #dd1bc6;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 1vw;
}

.subtags-grid div:hover {
  background-color: #0056b3;
}

.disableSubtags {
  opacity: 0.6;
  pointer-events: none;
}

/* GOAL MAP */
.goal-div {
  width: 100%;
  height: auto;
  background-color: yellow;
}

.goal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.goal-grid div {
  background-color: #1bd3dd;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 1vw;
}

.goal-grid div:hover {
  background-color: #0056b3;
}

/* VIDEO PLAYER */
.video-player {
  width: 100%;
}

.div-disabled {
  background-color: #74cffa;
  cursor: pointer;
}
