<nav class="navbar navbar-custom navbar-expand-md navbar-light py-0">
  <div class="container">
    <a class="brand-name" href="#"
      ><img src="assets/bm_logo.png" alt="logo" class="brand-image"
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            href="#tagger"
            class="nav-link"
            routerLink="/tagger"
            routerLinkActive="active"
            >Tag Game</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#test"
            class="nav-link"
            routerLink="/test"
            routerLinkActive="active"
            >test</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#events"
            class="nav-link"
            routerLink="/events"
            routerLinkActive="active"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#login"
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#logout"
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            >logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
