<div class="resizable-container">
  <table>
    <thead>
      <tr>
        <th>Team</th>
        <th>Time</th>
        <th>Jersey</th>
        <th>Player</th>
        <th>Event</th>
        <th>X</th>
        <th>Y</th>
        <th>endX</th>
        <th>endY</th>
        <th>Foot</th>
        <th>Outcome</th>
        <th>Key Pass</th>
        <th>Assist</th>
        <th>Through Pass</th>
        <th>Clearance</th>
        <th>Hand Foul</th>
        <th>Goal Area</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="dataItems?.length; else noData">
        <tr *ngFor="let item of dataItems || []; let i = index">
          <td>{{ dataItems[i].team }}</td>
          <td>{{ dataItems[i].time }}</td>
          <td>{{ dataItems[i].jersey }}</td>
          <td>{{ dataItems[i].name }}</td>
          <td>{{ dataItems[i].event }}</td>
          <td>{{ dataItems[i].start.x }}</td>
          <td>{{ dataItems[i].start.y }}</td>
          <td>{{ dataItems[i].end.x }}</td>
          <td>{{ dataItems[i].end.y }}</td>
          <td>{{ dataItems[i].subEvents.foot }}</td>
          <td>{{ dataItems[i].subEvents.outcome }}</td>
          <td>{{ dataItems[i].subEvents.keypass }}</td>
          <td>{{ dataItems[i].subEvents.assist }}</td>
          <td>{{ dataItems[i].subEvents.throughpass }}</td>
          <td>{{ dataItems[i].subEvents.clearance }}</td>
          <td>{{ dataItems[i].subEvents.handfoul }}</td>
          <td>{{ dataItems[i].goalArea }}</td>
          <td>
            <button
              type="button"
              class="btn-close btn-close-red"
              aria-label="Close"
              (click)="deleteEvent(item)"
            ></button>
          </td>
        </tr>
      </ng-container>
      <ng-template #noData>
        <tr>
          <td colspan="17">No data available</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
