.container-event-data {
  border: 1px solid red;
  height: auto;
  max-height: 10rem;
  overflow: auto;
  font-size: small;
  text-align: center;
}
.resizable-container {
  border: 1px solid red;
  height: auto;
  max-height: 10rem;
  max-width: 80rem;
  padding: 0;
  resize: both;
  overflow: auto;
}
.action-buttons {
  display: flex;
}
.action-button {
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  font-size: small;
  text-align: center;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

tr:nth-child(even) {
  background-color: #f7e9f6;
}

.delBtn {
  padding: 2px;
  text-align: center;
}

.delBtn button {
  cursor: pointer;
}
