<div class="resizable-container">
  <div class="action-buttons">
    <button class="action-button" (click)="onExportCSV()">Export csv</button>
    <button class="action-button" (click)="onDeleteLast()">Delete last</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Sr</th>
        <th>Team</th>
        <th>Jersey</th>
        <th>Name</th>
        <th>Event</th>
        <th>Sub-Tag</th>
        <th>x1</th>
        <th>y1</th>
        <th>x2</th>
        <th>y2</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataItems; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ dataItems[i].team }}</td>
        <td>{{ dataItems[i].jersey }}</td>
        <td>{{ dataItems[i].name }}</td>
        <td>{{ dataItems[i].event }}</td>
        <td>{{ dataItems[i].subtag }}</td>
        <td>{{ dataItems[i].start.x }}</td>
        <td>{{ dataItems[i].start.y }}</td>
        <td>{{ dataItems[i].end.x }}</td>
        <td>{{ dataItems[i].end.y }}</td>
        <td class="delBtn"><button onclick="deleteRow(this)">X</button></td>
      </tr>
    </tbody>
  </table>
</div>
