<!-- ////////////////////////////////// TOOLBAR START /////////////////////////////////////////// -->

<div class="container-fluid py-0">
  <div class="row">
    <div class="col p-0">
      <div class="toolbar py-0" style="height: 2rem">
        <a href="#"><img src="assets/bm_ball.png" style="width: 2rem" /></a>

        <!-- load players modal -->
        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          data-bs-toggle="modal"
          data-bs-target="#playersConfig"
          (click)="onCongifModalOpen()"
        >
          Configuration
        </button>

        <!-- LOCAL VIDEO UPLOAD BUTTON -->
        <span class="fileContainer" style="margin-bottom: 2.5px">
          <img
            src="assets/video-upload-icon-2.png"
            alt="Local"
            class="btn btn-sm custom-btn"
            id="imageButton"
            data-bs-toggle="tooltip"
            [title]="'Local video upload'"
          />
          <input type="file" id="video-url-input" style="display: none" />
        </span>

        <!-- YOUTUBE VIDEO UPLOAD BUTTON -->
        <span
          class="ytUploadButton"
          style="margin: 0 0 2.5px 1px"
          data-bs-toggle="modal"
          data-bs-target="#youtubeVideoUpload"
          (click)="openModalClicked()"
        >
          <img
            src="assets/yt-icon.png"
            alt="Youtube"
            class="btn btn-sm custom-btn"
            data-bs-toggle="tooltip"
            [title]="'Youtube video upload'"
          />
        </span>

        <!-- Enter TEAM NAME -->
        <input
          #teamInput
          type="text"
          class="team-input"
          [(ngModel)]="currentTeam"
          placeholder="Enter team name"
          [readOnly]="teamReadOnly"
          [ngClass]="{ 'readonly-input': teamReadOnly }"
        />

        <!-- MODE SWITCH - (Toggle between Edit Mode and Tagging Mode) -->
        <div class="form-check form-switch">
          <input
            #switchButton
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="mode-switch"
            [disabled]="!areAllPlayersFilled || !currentTeam"
            [(ngModel)]="switchValue"
            (click)="taggingButtonClicked()"
          />
          <label class="form-check-label mode-class" for="mode-switch">{{
            currentMode
          }}</label>
        </div>

        <div class="side-items">
          <span>{{ playerJersey }} {{ mainEvent }}</span>
        </div>

        <!-- SIDE SWITCH - (Toggle between First and Second half sides) -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="side-switch"
            (click)="onSwitchSide()"
          />
          <label class="form-check-label" for="side-switch">Switch sides</label>
        </div>
        <button class="btn btn-sm btn-primary" (click)="exportToCSV()">
          Export CSV
        </button>
        <button class="btn btn-sm btn-danger" (click)="handleReset()">
          RESET
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////////////////////////////// TOOLBAR END ////////////////////////////////// -->

<!-- ///////////////////////////////////////////// TAGGER START ///////////////////////////////// -->

<!-- PARENT CONTAINER -->
<div class="parent-container">
  <!-- RESIZABLE CONTAINER -->
  <div class="resizable-div">
    <!-- LOCAL VIDEO DISPLAY CONTAINER -->
    <div id="video-container">
      <video
        #localVideoPlayer
        width="100%"
        height="auto"
        controls
        style="display: none"
      ></video>
    </div>

    <!-- YOUTUBE VIDEO DISPLAY CONTAINER -->
    <div style="width: 100%; height: 100%" #youtubePlayerContainer>
      <iframe
        *ngIf="youtubeUpload"
        class="youtube-player"
        [src]="youtubeUrl | safe"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- PITCH & SUBTAGS CONTAINER -->
  <div class="fill-div">
    <!-- PITCH -->
    <div
      #pitchContainer
      class="pitch-class"
      [style.transform]="switchSide ? 'rotate(180deg)' : ''"
      (mousedown)="handleMapMouseDown($event)"
      (mouseup)="handleMapMouseUp($event)"
    >
      <!-- PLAYERS -->
      <ng-container *ngIf="showPlayers">
        <div
          *ngFor="let player of onFieldPlayers; let i = index"
          [id]="player.id"
          [style.top]="player.top"
          [style.left]="player.left"
          (click)="handlePlayerClick(player)"
          [ngClass]="{
            player: true,
            'div-disabled': !editModeON
          }"
          [style.transform]="switchSide ? 'rotate(180deg)' : ''"
          data-bs-toggle="tooltip"
          [title]="player.jersey + ' ' + player.name"
        >
          <span class="player-details"
            >{{ player.jersey }} {{ player.name }}</span
          >
        </div>
      </ng-container>
    </div>

    <!-- SUBTAGS -->
    <div class="subtags-div pt-1">
      <div class="subtags-grid">
        <div
          *ngFor="let subtag of allSubTags"
          [ngStyle]="{
            'background-color': subtag.bgColor
          }"
          [ngClass]="{
            disableSubtags: subtag.disabled,
            subtagSelected: subtag.clicked
          }"
          (click)="handleSubtagClick(subtag)"
          data-bs-toggle="tooltip"
          [title]="subtag.name"
        >
          {{ subtag.name }}
        </div>
      </div>
    </div>

    <!-- GOAL SKELETON -->
    <div class="goal-div pt-1">
      <div class="goal-grid">
        <div
          *ngFor="let area of allGoalAreas"
          (click)="handleGoalArea(area)"
          [ngClass]="{
            disableGoalAreas: area.disabled,
            goalAreaSelected: area.clicked
          }"
        >
          {{ area.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////////////////////////////// TAGGER END ///////////////////////////////// -->

<!-- EVENT DATA TABLE -->
<div>
  <app-events></app-events>
</div>

<!-- MODALS -->

<!-- YOUTUBE VIDEO UPLOAD MODAL -->
<div
  #youtubeVideoUpload
  class="modal fade"
  id="youtubeVideoUpload"
  tabindex="-1"
  aria-labelledby="pasteYoutubeUrl"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="pasteYoutubeUrl">
          Please paste Youtube video URL
        </h1>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Youtube -->
        <input
          type="text"
          class="form-control"
          id="recipient-name"
          placeholder="Paste Youtube URL"
          [(ngModel)]="videoYtUrl"
          (change)="handleYoutubeUpload()"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          [disabled]="!videoYtUrl"
          type="button"
          class="btn btn-primary"
          (click)="onDoneClickYT()"
        >
          Done
        </button>
      </div>
    </div>
  </div>
</div>

<!-- PLAYERS CONFIGURATION MODAL -->
<div
  #playersConfig
  id="playersConfig"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="configurePlayers"
  aria-hidden="true"
>
  <div class="modal-dialog" style="max-width: 40rem">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="configurePlayers">Configuration</h3>
        <button
          #closeConfigModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- PLAYING & FORMATION -->
        <div class="select-wrapper">
          <div class="select-container">
            <label for="playing">Playing:</label>
            <select
              #playing
              id="playing"
              class="form-select form-select-sm"
              (change)="onSelectPlaying($event)"
            >
              <option disabled selected>Select</option>
              <option *ngFor="let i of playingDDValues">{{ i }}</option>
            </select>
          </div>
          <div class="select-container">
            <label for="formation">Formation:</label>
            <select
              #formation
              id="formation"
              class="form-select form-select-sm"
              style="min-width: 6rem"
              [disabled]="disableFormationdd"
              (change)="onSelectFormation($event)"
            >
              <option disabled selected>Select</option>
              <option *ngFor="let i of formationDDValues">{{ i }}</option>
            </select>
          </div>
        </div>

        <!-- ADD PLAYER INPUT -->
        <div style="margin-top: 1rem">
          <small>Player: </small>
          <input
            #jersey
            type="text"
            class="config-player-input"
            style="width: 2rem"
            [(ngModel)]="configPlayerJersey"
          />
          <input
            type="text"
            class="config-player-input"
            style="margin-left: 2px"
            [(ngModel)]="configPlayerName"
          />
          <input
            type="submit"
            value="Add"
            class="config-add-button"
            (click)="addPlayerOnList()"
          />
        </div>

        <hr />

        <div style="display: flex; width: 40rem">
          <!-- PLAYERS LIST CONTAINER -->
          <div class="config-players-container">
            <ng-container *ngFor="let i of onListPlayers">
              <div
                class="config-players-container-div"
                data-bs-toggle="tooltip"
                [title]="i.jersey + '. ' + i.name"
                (click)="addPlayerOnField(i)"
              >
                <span>{{ i.jersey }}. {{ i.name }}</span>
              </div>

              <span
                type="button"
                class="btn-close btn-close-red config-remove-button"
                aria-label="Close"
                (click)="removePlayerFromListandField(i)"
              ></span>
            </ng-container>
          </div>

          <!-- DRAG DROP CONTAINER -->
          <div
            class="drag-lineup-container"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
          >
            <div
              cdkDrag
              class="item-dragdrop"
              *ngFor="let player of onFieldPlayers; let i = index"
              style="margin-top: 2px"
              [ngStyle]="{
                'margin-top': spaceArray.includes(i) ? '10px' : '2px'
              }"
              (click)="removePlayerFromField(player)"
            >
              {{ player.jersey }}. {{ player.name }}
            </div>
          </div>
        </div>

        <!-- CLEAR ALL PLAYERS FROM THE LIST -->
        <button
          type="button"
          style="display: block"
          class="btn btn-sm btn-danger mt-2 pt-0 pb-0"
          (click)="removeAllPlayerFromListandField()"
        >
          Clear all
        </button>
      </div>
    </div>
  </div>
</div>
